body {
    margin: 0;
    padding: 0;
    background-image: url(images/back.jpg);
}

.audio {
    position: absolute;
    left: 332px;

}

.kris {
    width: 143px;
    border-radius: 75px;
    border: 3px solid white;
}

.kris_big {
    width: 300px;
    border-radius: 150px;
    border: 4px solid white;
}

.virag_big {
    width: 300px;
    border-radius: 150px;
    border: 4px solid white;
}

.bilyana_big {
    width: 300px;
    border-radius: 150px;
    border: 4px solid white;
}

.chiara_big {
    width: 300px;
    border-radius: 150px;
    border: 4px solid white;
}

.wiktor_big {
    width: 300px;
    border-radius: 150px;
    border: 4px solid white;
}

.denes_big {
    width: 300px;
    border-radius: 150px;
    border: 4px solid white;
}

.kris_div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

.virag {
    width: 143px;
    border-radius: 75px;
    border: 3px solid white;
}

.bilyana {
    width: 143px;
    border-radius: 75px;
    border: 3px solid white;
}

.sylwia {
    width: 350px;
    border: 3px solid grey;
    border-radius: 175px;
    border-radius: ;
    position: absolute;
    z-index: -1;
    top: 29%;
    left: 10px;

}

.denes {
    width: 143px;
    border-radius: 75px;
    border: 3px solid white;
    margin-top: -20px;
}

.wiktor {
    width: 143px;
    border-radius: 75px;
    border: 3px solid white;
}

.chiara {
    width: 143px;
    border-radius: 75px;
    border: 3px solid white;
}

.first_div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: -20px;
}

.third_div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 235px;
}

.fourth_div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.modal {
    display: none;
    position: absolute;
    right: 9%;
    top: 10px;

}

.modal-content {
    position: absolute;
    top: 350px;
    left: 7%;
    height: 380px;
    background: rgb(2, 0, 36);
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 1%, rgba(255, 1, 5, 1) 34%, rgba(82, 0, 4, 1) 100%);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid white;
    text-align: center;
}

.modal-content:before {
    content: "";
    position: absolute;
    right: 80px;
    top: -49px;
    width: 0;
    height: 0;
    border-right: 26px solid transparent;
    border-bottom: 52px solid #020024;
    border-left: 26px solid transparent;
}

.modal2 {
    display: none;
    position: absolute;
    right: 9%;
    top: 10px;

}

.modal-content2 {
    position: absolute;
    top: 352px;
    left: 0;
    height: 280px;
    text-align: center;
    background: rgb(2, 0, 36);
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 1%, rgba(149, 184, 95, 1) 33%, rgba(39, 57, 39, 1) 80%);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid white;
}

.modal-content2:before {
    content: "";
    position: absolute;
    right: 80px;
    top: -49px;
    width: 0;
    height: 0;
    border-right: 26px solid transparent;
    border-bottom: 52px solid #020024;
    border-left: 26px solid transparent;
}

.modal3 {
    display: none;
    position: absolute;
    right: 9%;
    top: 10px;

}

.modal-content3 {
    position: absolute;
    top: 352px;
    left: 0;
    height: 305px;
    text-align: center;
    background: rgb(31,27,21);
background: linear-gradient(180deg, rgba(31,27,21,1) 6%, rgba(255,173,255,1) 36%, rgba(42,41,36,1) 77%);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid white;
}

.modal-content3:before {
    content: "";
    position: absolute;
    right: 80px;
    top: -49px;
    width: 0;
    height: 0;
    border-right: 26px solid transparent;
    border-bottom: 52px solid #020024;
    border-left: 26px solid transparent;
}

.modal4 {
    display: none;
    position: absolute;
    right: 9%;
    top: 500px;

}

.modal-content4 {
    position: absolute;
    top: -83%;
    left: 0;
    height: 235px;
    text-align: center;
    background: rgb(31,27,21);
background: rgb(24,4,60);
background: linear-gradient(180deg, rgba(24,4,60,1) 6%, rgba(255,206,255,1) 36%, rgba(67,4,152,1) 79%);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid white;
}

.modal-content4:before {
    content: "";
    position: absolute;
    right: 80px;
    top: 234px;
    width: 0;
    height: 0;
    border-right: 26px solid transparent;
    border-top: 52px solid #430498;
    border-left: 26px solid transparent;
}

.modal5 {
    display: none;
    position: absolute;
    right: 9%;
    top: 500px;

}

.modal-content5 {
    position: absolute;
    top: -159%;
    left: 0;
    height: 475px;
    text-align: center;
    background: rgb(188,17,64);
background: linear-gradient(180deg, rgba(188,17,64,1) 0%, rgba(231,177,189,1) 37%, rgba(246,235,234,1) 63%, rgba(197,182,191,1) 75%, rgba(35,8,48,1) 100%);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid white;
}

.modal-content5:before {
    content: "";
    position: absolute;
    right: 80px;
    top: 474px;
    width: 0;
    height: 0;
    border-right: 26px solid transparent;
    border-top: 52px solid #230830;
    border-left: 26px solid transparent;
}

.modal6 {
    display: none;
    position: absolute;
    right: 9%;
    top: 500px;

}

.modal-content6 {
    position: absolute;
    top: -83%;
    left: 0;
    height: 235px;
    text-align: center;
    background: rgb(31,27,21);
background: rgb(98,110,97);
background: linear-gradient(180deg, rgba(98,110,97,1) 0%, rgba(255,255,255,1) 72%, rgba(98,110,97,1) 100%);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid white;
}

.modal-content6:before {
    content: "";
    position: absolute;
    right: 80px;
    top: 234px;
    width: 0;
    height: 0;
    border-right: 26px solid transparent;
    border-top: 52px solid #626e61;
    border-left: 26px solid transparent;
}

.modal_header {
    color: white;
    text-shadow: 2px 0 0px #800040, 3px 2px 0px rgba(77, 0, 38, 0.5), 3px 0 3px #FF002B, 5px 0 3px #800015, 6px 2px 3px rgba(77, 0, 13, 0.5), 6px 0 9px #FF5500, 8px 0 9px #802A00, 9px 2px 9px rgba(77, 25, 0, 0.5), 12px 2px 18px rgba(77, 66, 0, 0.5), 17px 2px 45px rgba(38, 77, 0, 0.5), 22px 18px 18px rgba(2, 0, 36, 0.25), -18px -11px 18px rgba(2, 0, 36, 0.25), -18px 16px 18px rgba(2, 0, 36, 0.25), 31px -12px 18px rgba(2, 0, 36, 0.25), 31px -12px 18px rgba(2, 0, 36, 0.25);
    padding: 20px;
}

.denest {
    padding-top: 55px;
}
